<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="row">
       
         
            <strong> Rating </strong><br>

            <input type="text" ng-model="rating.rating" class="form-control">

             

        <button ng-click="addrating(rating)">Submit</button>
        </div>
       
        <div class="row">
          
                

            <strong>Review</strong><br>
            <input type="text" ng-model="review.review" class="form-control">
            
        
        <button ng-click="addreview(review)">Submit</button>

        </div>

    </div>