<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="row">
            <strong> Title: </strong>
            <input type="text" ng-model="update.Title" class="form-control">
        </div>
        <div class="row">
            <strong> VideoURL</strong>
            <input type="url" ng-model="update.VideoURL" class="form-control">
        </div>

        <div class="row">
            <strong>Price</strong>
            <input type="number" ng-model="update.Price" class="form-control">
        </div>
        


        <button ng-click="dotheupdate()">Submit</button>
    </div>