 
    <div>
    <h1> Welcome {{Username}}</h1>
 <h2> E-mail: {{profile.Email}}</h2>
<p>
                <img data-ng-src="{{profile.Image}}" class="img-rounded" alt="Imagr" width="304" height="236">

  <h4> Telephone: {{profile.Telephone}}</h4>

<button ng-click=" search()">Search by service and update / Delete </button>


<button ng-click=" addPromotion()">addPromotion</button>
<button ng-click="Change()">Change Profile Pictue</button>
       
<button ng-click="ViewWork()">ManageWork</button>

 <button ng-click="addWork()">AddWork</button>
<button ng-click="Logout()">Logout</button>

<button ng-click="Home()">Home</button></td>

    </div>
  
