   <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="row">
            <strong> Search: </strong>
            <input type="text" ng-model="x.User" class="form-control">
        
       <button ng-click="searchng()">Search</button></div>
        <div>
             <strong> Company Name</strong>
          
       
     <h2>  Company name: {{compys.Username}}</h2>

  <h3>  Company Address: {{compys.Address}}</h3>
      
 <h4>  Company Email: {{compys.Email}}</h4>


  <h4>  Company Telephone: {{compys.Telephone}}</h4>


        </div>


        

     
        
