<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="row">
            <strong> Username: </strong>
            <input type="text" ng-model="newUser.Username" class="form-control">
        </div>
        <div class="row">
            <strong>Address</strong>
            <input type="text" ng-model="newUser.Address" class="form-control">
        </div>

        <div class="row">
            <strong>Password</strong>
            <input type="password" ng-model="newUser.Password" class="form-control">
        </div>
        
        <div class="row">
            <strong>E-mail</strong>
            <input type="text" ng-model="newUser.Email" class="form-control">
        </div>
 <div class="row">
            <strong>ImageURl</strong>
            <input type="text" ng-model="newUser.Image" class="form-control">
        </div>

  <div class="row">
            <strong>Telephone</strong>
            <input type="text" ng-model="newUser.Telephone" class="form-control">
        </div>
        


        <button ng-click="createUser(newUser.Username)">Submit</button>
    </div>
