<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="row">
           <div class="row">
            <strong> Username: </strong>
            <input type="text" ng-model="newUser.Username" class="form-control">
        </div>
        <div class="row">
            <strong>Password</strong>
            <input type="password" ng-model="newUser.Password" class="form-control">
        



  <button ng-click="Login(newUser.Username)">Login</button>

       <a ui-sref="usersignup" ui-sref-opts="{reload:true}">Create An Account</a>
       </div>
  